
<div class="text-layout">
    <h1>DecimalPipe y Porcentajes</h1>
    <p>
        Pipes incluidos en angular - Usualmente en el Common Module
    </p>
</div>

<div class="grid">

    <div class="col-4">
        <p-card header="Ventas Netas" subheader="del año">
            <i class="pi pi-dollar"></i>
            {{ventasNetas | number:'1.2-2' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ventas Brutas" subheader="del año">
            {{ventasNetas + 2000000 | currency:'GTQ':'GTQ':'1.2-2' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ganancia Porcentual" subheader="del año">
            {{porcentaje | percent:'1.2-2'}}
        </p-card>
    </div>

</div>