<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluidos en angular - Usualmente en el Common Module
    </p>
</div>

<div class="grid">
    <div class="col-4">

        <p-card header="uppercase" [subheader]="nombreLower|uppercase">

            {{nombreLower}}

        </p-card>

    </div>
    <div class="col-4">


        <p-card header="lowercase" [subheader]="nombreLower|lowercase">

            {{nombreUpper}}

        </p-card>


    </div>
    <div class="col-4">

        <p-card header="Title Case" [subheader]="nombreCompleto|titlecase">

            {{nombreCompleto}}

        </p-card>

    </div>
</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipe para mostrar las fechas
    </p>
</div>

<div class="grid">

    <div class="col-6">
        <p-card>
            <ul>
                <li>Fecha</li>
                <li>Fecha | date</li>
                <li>fecha | date:'short'</li>
                <li>fecha | date:'long'</li>
                <li>fecha | date:'MMMM'</li>
                <li>fecha | date:'MMMM dd, yyyy'</li>
            </ul>

            <hr>
            <ul>
                <li>fecha | date:'long':'GMT-5'</li>
                <li>fecha | date:'long':'GMT-7'</li>
                <li>fecha | date:'long':'':'en'</li>
            </ul>

        </p-card>
    </div>

    <div class="col-6">
        <p-card>
            <ul>
                <li>{{fecha}}</li>
                <li>{{fecha | date}}</li>
                <li>{{fecha | date:'short'}}</li>
                <li>{{fecha | date:'long'}}</li>
                <li>{{fecha | date:'MMMM' }}</li>
                <li>{{fecha | date:'MMMM dd, yyyy' }}</li>
            </ul>

            <hr>
            <ul>
                <li>{{fecha | date:'long':'GMT-5'}}</li>
                <li>{{fecha | date:'long':'GMT-7'}}</li>
                <li>{{fecha | date:'long':'':'en'}}</li>
            </ul>

        </p-card>
    </div>

</div>