<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>
        Pipes incluidos en angular - Usualmente en el Common Module
    </p>
</div>

<div class="grid">

    <div class="col md:col-6 sm:col-9">

        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true" [collapsed]="true">

            <p>
                Saludos {{nombre}}, es un placer {{genero | i18nSelect:invitacionMapa }} a nuestro evento
            </p>

            <button (click)="cambiarCliente()" pButton pRipple type="button" label="Cambiar"
                class="p-button-rounded"></button>
        </p-fieldset>

    </div>

    <div class="col md:col-6 sm:col-9">

        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true" [collapsed]="true">

            <p>
                Actualmente {{cliente.length | i18nPlural:clientesMap }}
            </p>

            <button (click)="borrarCliente()" pButton pRipple type="button" label="Borrar"
                class="p-button-rounded p-button-help"></button>

        </p-fieldset>

    </div>


    <div class="col md:col-6 sm:col-9">

        <p-fieldset legend="Slice Pipe" [toggleable]="true" [collapsed]="true">
            <b>Original</b>
            <pre>
                {{cliente}}
            </pre>
            <b>slice:0:2</b>
            <pre>
                {{cliente | slice:0:2}}
            </pre>
            <b>slice:1:2</b>
            <pre>
                {{cliente | slice:1:2}}
            </pre>
            <b>slice:1:3</b>
            <pre>
                {{cliente | slice:1:3}}
            </pre>
            <b>slice:3:3</b>
            <pre>
                {{cliente | slice:3:3}}
            </pre>
        </p-fieldset>

    </div>

    <div class="col md:col-6 sm:col-9">

        <p-fieldset legend="Json Pipe" [toggleable]="true" [collapsed]="true">

            <pre>{{heroes|json}}</pre>

        </p-fieldset>
    </div>

    <div class="col md:col-6 sm:col-9">

        <p-fieldset legend="KeyValue Pipe" [toggleable]="true" [collapsed]="true">

            <ul>
                <li *ngFor="let item of persona |keyvalue">
                    <b>{{item.key | titlecase}}</b>: {{item.value}}
                </li>
            </ul>

        </p-fieldset>
    </div>

    <div class="col md:col-6 sm:col-9">

        <p-fieldset legend="Async Pipe" [toggleable]="true">

            <pre *ngIf="!(miObservable | async)" >Resolviendo Promesa</pre>

            <pre>{{miObservable | async}}</pre>

            <pre *ngIf="!(valorPromesa | async)" >Resolviendo Promesa</pre>

            <pre>{{valorPromesa | async}}</pre>

        </p-fieldset>
    </div>

</div>