<div class="text-layout">
    <h1>Pipes Personalizos</h1>
    <p>
        Pipes creados por {{'nosotros'|mayusculas:enMayusculas}}
    </p>

    

</div>

<p-toolbar>
    <div class="p-toolbar-group-left">
        <button pButton label="toggle mayuscula" (click)="cambiar()" class="mr-1 p-button-warning"></button>
    </div>
    
    <div class="p-toolbar-group-right">
        <button pButton icon="pi pi-sort" label="Por Nombre" (click)="cambiarOrden('nombre')" class="mr-1"></button>
        <button pButton icon="pi pi-sort" label="Por Vuela" (click)="cambiarOrden('vuela')" class="mr-1 p-button-success"></button>
        <button pButton icon="pi pi-sort" label="Por Color" (click)="cambiarOrden('color')" class="mr-1 p-button-help"></button>
    </div>
</p-toolbar>

<div class="grid">
    <div class="col mt-2">

        <p-table [value]="heroes | ordenar:ordenarPor" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela | titlecase}}</td>
                    <td>{{heroe.color}}</td>
                </tr>
            </ng-template>
        </p-table>
        


    </div>
</div>


<div class="grid">
    <div class="col mt-2">

        <p-table [value]="heroes | slice:0" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="vuela">Vuela <p-sortIcon field="vuela"></p-sortIcon></th>
                    <th pSortableColumn="color">Color <p-sortIcon field="color"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela | titlecase}}</td>
                    <td>{{heroe.color}}</td>
                </tr>
            </ng-template>
        </p-table>
        


    </div>
</div>